<div class="checkbox-group-container d-flex flex-column gap-2" role="group">
  @for (opt of options(); track opt.value) {
    <label 
      class="checkbox-tile"
      [class.active]="isSelected(opt.value)"
      [class.disabled]="opt.disabled"
    >
      <input
        type="checkbox"
        class="native-checkbox"
        [value]="opt.value"
        [checked]="isSelected(opt.value)"
        [disabled]="opt.disabled"
        (change)="toggleOption(opt.value)"
      />
      
      <span class="custom-checkbox">
        <svg class="check-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z" fill="currentColor"/>
        </svg>
      </span>

      <span class="checkbox-label">{{ opt.label }}</span>
    </label>
  }
</div>